################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LapStore/LapStore.Web/appsettings.json
/LapStore/LapStore.Web/appsettings.Development.json
